<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>


  <%= @link.comments.count%>
  <%= render :partial => @link.comments %>
 <%= simple_form_for [@link ,Comment.new] do |f| %>
  <%= f.text_area :body, :hint => "likh bc" %>
  <%= f.submit "ADD comment"  %>
<% end %>
<!--[@link ,Comment.new]-->